@page "/disco"

@rendermode @(new InteractiveServerRenderMode(prerender: false))

<PageTitle>Disco Ball!</PageTitle>

<div style="margin-top: 100px; margin-left: 400px">
        <DiscoBall Radius="@DiscoBall.DiscoBallSize.Tiny"></DiscoBall>

</div>


@code {

} 