
@-webkit-keyframes rotateDiscoBall {
    0% {
        -webkit-transform: rotateX(90deg) rotateZ(0deg) rotate(0deg);
    }

    100% {
        -webkit-transform: rotateX(90deg) rotateZ(360deg) rotate(0deg);
    }
}

@keyframes rotateDiscoBall {
    0% {
        transform: rotateX(90deg) rotateZ(0deg) rotate(0deg);
    }

    100% {
        transform: rotateX(90deg) rotateZ(360deg) rotate(0deg);
    }
}

@-webkit-keyframes rotateDiscoBallMiddle {
    0% {
        -webkit-transform: rotateX(90deg) rotateY(0deg) rotate(0deg);
    }

    100% {
        -webkit-transform: rotateX(90deg) rotateY(-360deg) rotate(0deg);
    }
}

@keyframes rotateDiscoBallMiddle {
    0% {
        transform: rotateX(90deg) rotateY(0deg) rotate(0deg);
    }

    100% {
        transform: rotateX(90deg) rotateY(-360deg) rotate(0deg);
    }
}

@-webkit-keyframes reflect {
    0% {
        -webkit-filter: brightness(60%);
    }

    50% {
        -webkit-filter: brightness(120%);
    }

    100% {
        -webkit-filter: brightness(90%);
    }
}

@keyframes reflect {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.4;
    }

    100% {
        opacity: 1;
    }
}

.discoBallContainer {
    position: relative; /* The parent container for positioning */
    width: 100%; /* Can be adjusted based on your needs */
    height: 100%; /* Can be adjusted based on your needs */
    display: inline-block; /* Adjust based on how you want to position it */
}

.discoBall {
    transform-style: preserve-3d;
    position: absolute; /* Position relative to the parent container */
    animation: rotateDiscoBall 18s linear infinite;
}

.discoBallLight {
    position: absolute; /* Position relative to the parent container */
    border-radius: 100%;
    background-color: white;
    opacity: 0.2;
    -webkit-filter: blur(20px);
}

.square {
    transform-style: preserve-3d;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 6px;
    height: 6px;
    transform: rotateX(90deg) rotateY(0deg) translateZ(0px);
}

.squareTile {
    background-color: #fff; /* Default color */
    transition: background-color 0.5s;
}

.discoBallMiddle {
    height: 100%;
    border-radius: 100%;
    background-color: #111;
    position: absolute;
    background: -webkit-linear-gradient(top, #111, #333);
    background: -moz-linear-gradient(top, #111, #333);
    background: linear-gradient(top, #111, #333);
    -webkit-animation: rotateDiscoBallMiddle 18s linear infinite;
    animation: rotateDiscoBallMiddle 18s linear infinite;
}

.paused {
    animation-play-state: paused !important;
    -webkit-animation-play-state: paused !important;
}
